<h1>Edit Transference</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.transference_path(@conn, :update, @transference)) %>

<span><%= link "Back", to: Routes.transference_path(@conn, :index) %></span>
