<h1>Show Bank</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @bank.name %>
  </li>

  <li>
    <strong>Active:</strong>
    <%= @bank.active %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.bank_path(@conn, :edit, @bank) %></span>
<span><%= link "Back", to: Routes.bank_path(@conn, :index) %></span>
